<a target="_blank" rel="noopener noreferrer" href="https://gitbuilding.io">
<img class="icon" src="{{root}}static/Logo/GitBuilding500x.png" alt="GitBuilding logo"><span class="info">Documentation powered by GitBuilding</span>
</a>
{% if authors is not none %}
    <p class="author">©{{year}} {{authors}}</p>
{%endif %}
{% if email is not none %}
    <p class="email">Contact: <a href="mailto:{{email}}">{{email}}</a></p>
{%endif %}
{% if license is not none %}
    <p class="license">{{title}} is released under {{license}}.</p>
{%endif %}

<p class="license">The documentation is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>. <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" style="width:80px;height:auto;"/></a></p>
